body{
    background-color: darkslategray;
    margin: 0;
    padding: 20px;
    color: goldenrod; /*Cor de texto*/
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

h1{
    color: goldenrod;
    text-align: center;
    margin-bottom: 10px;
}

h4{
    color: mediumpurple;
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: space-between;
}

.galeria-item{
    background-color: crimson;
    border-radius: 8px;
    box-shadow: 0 2px 5px red(0,0,0,0.1);
    padding: 10px;
    flex: 1 1 calc(33.33% - 20px);
    text-align: center;
}

.galeria-item h4{
    margin: 10px 0px;
    color: darkmagenta;
    font-size: 23px; 
}

 .galeria-item img{
    height: 300px;
    width: 300px;
    border-radius: 5px;
    margin: 5px;
    transition: transform 0.3s ease;
}

.galeria-item img:hover{
    transform: scale(1.45);

}